.shadow-divider {
  border: none;
  height: 4px;
  background: black;
  margin: 30px 0;
  position: relative;
}

.shadow-divider::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 12px;
  box-shadow: 0 8px 12px -2px rgba(0,0,0,0.25);
}
